Repository Roblox-Indie-Wikis/irwa-templates, pull requests merged in 2025-03, with the labels that each got.

#14 Add UTG & Hybrid Café
  data/wikis.json
Labels: wikis

#16 feat: add outlaster wiki (#15)
  data/wikis.json
Labels: wikis

#28 Update outlaster wiki links
  data/wikis.json
  templates/template.wikitext
Labels: wikis, templates

#29 Add links to images + classes for each member
  templates/template.wikitext
Labels: enhancement

#30 New imgsize parameter
  templates/template.wikitext
Labels: enhancement
